body {
  background: #929092;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 70vh; 
}

.titulo-centralizado {
  text-align: center; 
  background-color: rgb(119, 113, 113); 
}